.skills__content {
  display: grid;
  row-gap: 1.5rem;
  column-gap: 4rem;
  row-gap: 3.5rem;
}
.skills__title {
  font-size: var(--h3-font-size);
  text-align: center;
  margin-bottom: 1.5rem;
}
.skills__box {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
}
.skills__group {
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}
.skills__data {
  display: flex;
  column-gap: 0.5rem;
}
.skills__name {
  font-size: var(--normal-font-size);
  font-weight: 500;
  line-height: 18px;
}
.skills__level {
  font-size: var(--smaller-font-size);
}

/* For small devices */
@media screen and (max-width: 320px) {
  .skills__box {
    column-gap: 1rem;
  }
}
/* For medium devices */
@media screen and (min-width: 776px) {
  .skills__content {
    grid-template-columns: repeat(2, 332px);
  }

  .skills__content {
    justify-content: center;
    column-gap: 3rem;
  }
}
/* For large devices */
@media screen and (min-width: 992px) {
  .skills__title {
    font-size: var(--normal-font-size);
    margin-bottom: 2.5rem;
  }
}
