.posts__title {
  margin: 2rem 0;
}

.posts__metadata {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.posts__cats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.posts__createdAt {
  font-size: small;
}
.posts__category {
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  border: 2px solid;
  font-size: small;
  cursor: pointer;
}

.posts__excerpt {
  font-size: 1rem;
}
